*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
.hero{
position: relative;
width: 100%;
height: 100vh;
background: black;
}

.logo{
    width: 5%;
    height: 11vh;
}

nav{
display: flex;
width: 85%;
margin: auto;
padding: 20px 0;
align-items: center;
justify-content: space-between;
}
nav.logo{
    justify-content: space-between ;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;

}

nav ul li a{
  
   
    list-style: none;
    margin: 10px 20px;
}

nav ul li a:hover{
    color: chocolate;
    

}
li{
    display: inline;
}

.detail{
    margin-left: 8%;
    margin-top: 15%;
}

.detail{
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
}

span{
    color: orange;
}

.detail p{
    color: #555;
    line-height: 18px;
    font-size: 20px;
}
.detail a{
    
    font-size: 18px;
    background: white ;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: inline-block;
    margin: 30px;
    border-radius: 5px;
}

.image{
    size: 10px;
    position: absolute;
    bottom: 0;
    right: 25px;
    
    
}

.image:hover {
    height: 45%;
    width: 35%;
    position: absolute;
    left: 50%;
    bottom: 100px;
  
}





.shape
    {
      position: relative;
      top: 0;
      left: 0;
    }
    .dev
    {
      position: absolute;
      top: -80px;
      left: 90px;
    }

    .shape{
        width: 70%;
    }
    .dev{
        width:23%;
    }